*{box-sizing: border-box;}
body {
   margin: 0;
   font-family: sans-serif;
}
.container {
   margin: 0 auto;
   max-width: 60%;
}

.header {
   background: url('img/banner1.png');
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-position: center;
   height: 750px;
}

.header__row {
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 50px;
}

.header__logo {
   width: 30%;
}

.header__nav {
   width: 20%;
}

.header__nav ul {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

.header__nav ul li {
   display: inline-block;
}

.header__nav ul li a {
   text-decoration: none;
   font-size: 18px;
   text-transform: uppercase;
   font-family: fantasy;
   color: #eee;
   transition: .4s color;
}

.header__nav ul li a:hover {
   color: #333;
}

/* SECTION */

.header__sec {
   padding: 80px 0 0 0;
   display: flex;
   justify-content: space-between;
}

.sec__text {
   width: 70%;
}

.sec__text h1 {
   font-size: 75px;
   font-family: sans-serif;
   font-weight: 900;
   color: #02fee5;
   display: inline;
}

.sec__text span {
   color: #eee;
}

.sec__text p {
   font-size: 17px;
   color: #eee;
   font-family: sans-serif;
   padding: 20px 80px 20px 0;
   line-height: 26px;
}

.sec__text a {
   padding: 13px 40px;
   background: #eee;
   font-size: 17px;
   text-decoration: none;
   color: #111;
   font-family: sans-serif;
   transition: ease-in all .6s;
}

.sec__text a:hover {
   background: #02fee5;
   border-radius: 90px;
}

.sec__figure {
   width: 30%;
   padding: 120px 0 0 0px;
}

/* Wrapper */

#wrapper {
   padding: 40px 0 0 0;
}

.our-blog {

}

.our-blog__row {
   text-align: center;
   margin-bottom: 60px;
}

.our-blog__row h2{
   font-size: 40px;
   color: #333;
   font-weight: bold;
   font-family: sans-serif;
}

.our-blog__one {
   display: flex;
   justify-content: space-between;
   box-shadow: #ddd 0px 0px 10px 0px;
   height: 400px;
   margin-bottom: 80px;
}

.our-blog__one_img {
   width: 100%;
   padding: 0 50px 0 0;
}

.our-blog__one_img img {
   width: 100%;
   max-width: 100%;
   height: auto;
   max-height: 400px;
}

.our-blog__one_text {
   width: 100%;
   padding: 40px 40px 0 0;
}

.our-blog__one_text h3 {
   font-size: 26px;
   color: #444;
   font-family: sans-serif;
   font-weight: 600;
}

.our-blog__one_text p {
   color: #3c3c3c;
   font-family: sans-serif;
   line-height: 26px;
}

.post_info {
   display: flex;
   justify-content: space-between;
   align-items: end;
}

.post_info p {
   font-weight: 550;
   font-family: sans-serif;
   width: 65%;
}
.post_info ul {
   list-style: none;
   width: 40%;
   display: flex;
   justify-content: space-between;
}
.post_info ul li {
   display: inline-block;
}

.post_info ul li a {
   text-decoration: none;
   color: #3c3c3c;
   font-family: sans-serif;
}

.post_info ul li a img {
   max-width: 100%;
   height: 18px;
   margin-right: 3px;
}

.our-blog__two {
   position: relative;
   max-height: 450px;
   margin-bottom: 80px;
   box-shadow: #ddd 0px 0px 10px 0px;
}

.our-blog__two>img {
   max-height: 450px;
   width: 100%;
}


.out-blog__two_text {
   position: absolute;
   padding: 0 30px;
   bottom: 0;
}

.out-blog__two_text h3 {
   color: #eee;
   font-size: 26px;
}

.out-blog__two_text p {
   color: #eee;
   line-height: 24px;
}

.two {
   width: 100%;
}

.two ul {
   width: 19%;
}

.two ul li a {
   color: #eee;
}

.our-blog__three {
   display: flex;
   justify-content: space-around;
   margin-bottom: 80px;
}

.our-blog__three_block>img {
   width: 97.5%;
}

.our-blog__three_block>img.iTwo {
   margin-left: 2.5%;
}

.our-blog__three_text {
   box-shadow: #ddd 0px 0px 10px 0px;
   padding: 0 30px 30px 30px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.our-blog__three_text>h3 {
   font-family: cursive;
}

.our-blog__three_text>p {
   margin: 0;
   line-height: 26px;
}


.three {
   width: 72%;
}

.three p {
   width: 70%;
}

.three ul {
   width: 85%;
}

.three ul li a {
   color: #333;
}

.our-blog__four {
   display: flex;
   justify-content: space-between;
   box-shadow: #ddd 0px 0px 10px 0px;
   height: 400px;
   margin-bottom: 80px;
}


.our-blog__four_img {
   width: 100%;
   padding: 0 50px 0 0;
}

.our-blog__four_img img {
   width: 100%;
   max-width: 100%;
   height: auto;
   max-height: 400px;
}

.our-blog__four_text {
   width: 100%;
   padding: 20px 40px 0 0;
}

.our-blog__four_text h3 {
   font-size: 26px;
   color: #444;
   font-family: sans-serif;
   font-weight: 600;
}

.our-blog__four_text p {
   color: #3c3c3c;
   font-family: sans-serif;
   line-height: 26px;
}

.testimonial {
   background: url('img/test_bg.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% 100%;
   width: 100%;
   height: 350px;
   margin-bottom: 80px;
}
.test__row {
   margin-left: 25%;
}

.test__row h2 {
   font-size: 40px;
   font-weight: bold;
   color: #eee;
}

.test__main {
   display: flex;
   justify-content: space-between;
}

.test__main_img {
   width: 25%;
}

.test__main_img i {
   border: #e6e1e1 solid 6px;
   width: 220px;
   height: 220px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   border-radius: 210px;
   cursor: pointer;
   background: #6ad0bc;
   padding: 6px;
   position: relative;
}

.test__main_img i img {
   max-width: 100%;
   height: auto;
   border-style: none;
}

.test__main_img i::after {
   position: absolute;
   content: "";
   width: 35px;
   height: 35px;
   left: -7px;
   top: -10px;
   border: #ddd solid 5px;
   border-radius: 30px;
   background: #6ad0bc;
}

.test__main_text {
   width: 75%;
}

.test__main_text h4 {
   color: #eee;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 400;
}

.test__main_text p {
   color: #eee;
   line-height: 24px;
   font-size: 17px;
}

.contact__row {
   text-align: center;
   margin-bottom: 80px;
}

.contact__row h2 {
   color: #333;
   font-size: 40px;
}

.contact__row span {
   color: #333;
}

.contact__form {
   border: 1px solid #046c58;
   padding: 80px 50px;
   margin-bottom: 80px;
}

.contact__form input {
   margin-bottom: 4%;
   width: 100%;
   border-style: none;
   border-bottom: 1px solid #046c58;
   color: #046c58;
   font-size: 18px;
   background: #fff;
   outline: none;
}

.contact__form textarea {
   margin-bottom: 2%;
   width: 100%;
   border-style: none;
   border-bottom: 1px solid #046c58;
   color: #046c58;
   font-size: 18px;
   background: #fff;
   outline: none;
}

.contact__form input:focus {
   color: #046c58;
   border-bottom: 2px solid #046c58;
   background: rgba(114, 180, 167, .3);
}
.contact__form textarea:focus {
   background: rgba(114, 180, 167, .3);
   border-bottom: 2px solid #046c58;
}

.contact__form button {
   float: right;
   background: #000;
   color: #eee;
   padding: 15px 80px;
   font-size: 18px;
   border: none;
   cursor: pointer;
   transition: all .5s ease-in-out;
}

.contact__form button:hover {
   background: #046c58;
   border-radius: 80px;

}

/* FOOTER */

footer {
   text-align: center;
}

footer h3 {
   font-family: cursive;
   font-size: 30px;
   line-height: 45px;
   color: #222;
   font-weight: bold;
   padding-bottom: 20px;
}

footer h3 strong {
   color: #046c58;
}

footer ul {
   list-style: none;
   padding-bottom: 30px;
}

footer ul li {
   display: inline-block;
   width: 3%;
}

footer ul li a {
   text-decoration: none;
   color: #222;
   padding: 10px 10px;
   border-radius: 50%;
   transition: all .3s;
}

footer ul li a:hover {
   background: #046c58;
}

.footer__row {
   background: #046c58;
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer__row p {
   color: #eee;
}

.footer__row a {
   text-decoration: none;
   color: #eee;
}

.footer__row a:hover {
   color: #222;
}



@media all and (max-width: 1440px) {
   .our-blog__one_text {
      padding: 0;
   }
   .our-blog__one_text>h3 {
      margin: 0;
   }
   .our-blog__one_text>p {
      margin: 10px 0 0 ;
   }
   .post_info>ul {
      width: 50%;
   }
   .our-blog__three_text {
      padding: 0 10px 10px 10px;
   }
   .our-blog__three_text>h3 {
      margin: 10px 0 0 0;
   }
   .three {
      width: 100%;
   }
   .our-blog__four_text>h3 {
      margin: 0;
   }
}
